{% assign translations = site.posts | where: "translation_id", page.translation_id %}

{% if translations.size > 1 %}
  <div class="post-translations">
    {% for translation in translations %}
      {% if translation.url == page.url %}
        {% if translation.lang == "pt" %}
          Português
        {% elsif translation.lang == "en" %}
          English
        {% elsif translation.lang == "es" %}
          Español
        {% else %}
          {{ translation.lang }}
        {% endif %}
      {% else %}
        <a href="{{ translation.url | relative_url }}">
          {% if translation.lang == "pt" %}
            Português
          {% elsif translation.lang == "en" %}
            English
          {% elsif translation.lang == "es" %}
            Español
          {% else %}
            {{ translation.lang }}
          {% endif %}
        </a>
      {% endif %}

      {% unless forloop.last %} | {% endunless %}
    {% endfor %}
  </div>
{% endif %}
